<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>공개소프트웨어 2조 TwoRoLLess</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/two.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">TWOROLLESS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/SNS">SNS 모아보기</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                공연 트렌드
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="/stat/show-trend">공연 트렌드</a></li>
                                <li><a class="dropdown-item" href="/stat/place-trend">공연장 트렌드</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/stat/place">공연장 정보</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                공연 정보 (오프라인)
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="/show/musical">뮤지컬</a></li>
                                <li><a class="dropdown-item" href="/show/play">연극</a></li>
                                <li><a class="dropdown-item" href="/show/concert">콘서트</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                공연 정보 (온라인)
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="/online/musical">뮤지컬</a></li>
                                <li><a class="dropdown-item" href="/online/play">연극</a></li>
                                <li><a class="dropdown-item" href="/online/concert">콘서트</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3"> 공연 정보 통합 제공 웹 사이트 </h1>
                            <p class="lead fw-normal text-muted mb-4"> 2021 2학기 동국대학교 컴퓨터 공학과 <br> 공개 소프트웨어 프로젝트 <br> 2조
                                TwoRolless </p>
                            <a class="btn btn-primary btn-lg" href="#scroll-target"> 더 알아보기 </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- About section one-->
        <section class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0"
                            src="https://cdn.pixabay.com/photo/2017/10/10/04/55/times-square-2835995_1280.jpg"
                            alt="..." /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder"> 1. 예매처 정보 통합 제공 </h2>
                        <p class="lead fw-normal text-muted mb-0">
                            - 각 예매처에서 제공하는 정보들을 통합적으로 제공합니다. <br>
                            - 예매처 별로 제공하는 공연이 다르기에, 이 정보들을 모아서 제공합니다. <br>
                            - 예매처로는 인터파크 티켓, yes24공연, 티켓 링크, 멜론 티켓 등의 사이트가 있고,
                            제공할 정보로는 극 이름, 기간, 예매처, 캐스팅, 캐스팅 스케줄, 가격, 할인 정보 등이 있습니다. <br>
                            - 또한 공연들을 검색할 수 있는 카테고리를 제공합니다. <br>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section two-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                            src="https://cdn.pixabay.com/photo/2014/03/22/22/17/phone-292994_1280.jpg" alt="..." />
                    </div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder"> 2. SNS 정보 실시간 제공 </h2>
                        <p class="lead fw-normal text-muted mb-0">
                            - 각 기획사, 혹은 공연마다 개별적으로 각기 다른 SNS에 올라오는 공지를 제공합니다. <br>
                            - Twitter에 개별적으로 올라와있는 SNS들을 공연에 대한 주요 정보로 필터링하여
                            공연 일정, 캐스팅 현황, 예매 안내 등의 공지들만 모아서 확인할 수 있게 제공합니다. <br>
                            - 각각의 연극 카테고리를 제공하여 원하는 연극의 공지들만 확인할 수 있습니다. <br>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!--About section three -->
        <section class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0"
                            src="https://cdn.pixabay.com/photo/2016/06/03/13/57/digital-marketing-1433427_1280.jpg"
                            alt="..." /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder"> 3. 공연 정보 분석 및 통계 제공 </h2>
                        <p class="lead fw-normal text-muted mb-0">
                            - 현재 트랜드를 제시합니다. <br>
                            - 사람들의 관심사를 제시합니다. <br>
                            - 주최측 통계를 제시합니다.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team members section-->
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="fw-bolder"> TwoRolless 소개 </h2>
                    <p class="lead fw-normal text-muted mb-5"> Dongguk Univ. CSE </p>
                </div>
                <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4"
                                src="https://3.bp.blogspot.com/-vPkUjyegSyI/WKFi__im_fI/AAAAAAABBrs/w2abUDRN8ZQSsMWSlm1fg-Y5yhovYaOKQCLcB/s800/face_smile_man2.png"
                                alt="..." />
                            <h5 class="fw-bolder">배승혁</h5>
                            <div class="fst-italic text-muted"> SNS Crawlling </div>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4"
                                src="https://3.bp.blogspot.com/-As7Bl3jHRRU/WKFjA6EypgI/AAAAAAABBsI/XJ4w9lDupc8LngEYB1Dn7tfPWXvPiZXZwCLcB/s800/face_smile_woman4.png"
                                alt="..." />
                            <h5 class="fw-bolder">이가현</h5>
                            <div class="fst-italic text-muted"> 자료 분석 및 통계 처리 </div>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-sm-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4"
                                src="https://2.bp.blogspot.com/-wTnACm8RQWE/WKFjAjOt3BI/AAAAAAABBsE/kEpLST61swU6wKLd2vnbI7ixVGMx3562gCLcB/s800/face_smile_woman3.png"
                                alt="..." />
                            <h5 class="fw-bolder">정유진</h5>
                            <div class="fst-italic text-muted"> 예매처 사이트 Crawlling </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4"
                                src="https://4.bp.blogspot.com/-YHphGIYu2xo/WKFi-1xVxhI/AAAAAAABBrU/FgmNjqIGb7Ix_BYlCsMAmFF0lsEQwdqBQCLcB/s800/face_angry_woman1.png"
                                alt="..." />
                            <h5 class="fw-bolder">이유진</h5>
                            <div class="fst-italic text-muted"> 웹 서버/데이터베이스 구축 </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; TwoRolless 2021 </div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>