<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>공개소프트웨어 2조 TwoRoLLess</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/two.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">TWOROLLESS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/SNS">SNS 모아보기</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                공연 트렌드
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="/stat/show-trend">공연 트렌드</a></li>
                                <li><a class="dropdown-item" href="/stat/place-trend">공연장 트렌드</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/stat/place">공연장 정보</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                공연 정보 (오프라인)
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="/show/musical">뮤지컬</a></li>
                                <li><a class="dropdown-item" href="/show/play">연극</a></li>
                                <li><a class="dropdown-item" href="/show/concert">콘서트</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                공연 정보 (온라인)
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="/online/musical">뮤지컬</a></li>
                                <li><a class="dropdown-item" href="/online/play">연극</a></li>
                                <li><a class="dropdown-item" href="/online/concert">콘서트</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">공연 트렌드</h1>
                            <p class="lead fw-normal text-muted mb-0">
                                어떤 공연을 봐야 할지 모르겠다구요? <br>
                                요즘 어떤 공연이 핫한지 모르겠다구요? <br>
                                도와드립니다!
                            </p>
                        </div>


                    </div>
                </div>
                <div class="row gx-5">
                    <a> 뮤지컬 </a>
                    <div>
                        <script type="text/javascript"
                            src="https://ssl.gstatic.com/trends_nrtr/2674_RC03/embed_loader.js"></script>
                        <script
                            type="text/javascript"> trends.embed.renderExploreWidget("RELATED_QUERIES", { "comparisonItem": [{ "keyword": "뮤지컬", "geo": "KR", "time": "today 3-m" }], "category": 0, "property": "youtube" }, { "exploreQuery": "date=today%203-m&geo=KR&gprop=youtube&q=%EB%AE%A4%EC%A7%80%EC%BB%AC", "guestPath": "https://trends.google.co.kr:443/trends/embed/" });</script>
                    </div>
                    <div>
                        <script type="text/javascript"
                            src="https://ssl.gstatic.com/trends_nrtr/2674_RC03/embed_loader.js"></script>
                        <script
                            type="text/javascript"> trends.embed.renderExploreWidget("RELATED_TOPICS", { "comparisonItem": [{ "keyword": "뮤지컬", "geo": "KR", "time": "today 3-m" }], "category": 0, "property": "youtube" }, { "exploreQuery": "date=today%203-m&geo=KR&gprop=youtube&q=%EB%AE%A4%EC%A7%80%EC%BB%AC", "guestPath": "https://trends.google.co.kr:443/trends/embed/" });</script>
                    </div>
                </div>

                <div class="row gx-5">
                    <a> 연극 </a>

                    <div>
                        <script type="text/javascript"
                            src="https://ssl.gstatic.com/trends_nrtr/2674_RC03/embed_loader.js"></script>
                        <script
                            type="text/javascript"> trends.embed.renderExploreWidget("RELATED_QUERIES", { "comparisonItem": [{ "keyword": "연극", "geo": "KR", "time": "today 12-m" }], "category": 0, "property": "youtube" }, { "exploreQuery": "geo=KR&gprop=youtube&q=%EC%97%B0%EA%B7%B9&date=today 12-m", "guestPath": "https://trends.google.co.kr:443/trends/embed/" });</script>
                    </div>
                    <div>
                        <script type="text/javascript"
                            src="https://ssl.gstatic.com/trends_nrtr/2674_RC03/embed_loader.js"></script>
                        <script
                            type="text/javascript"> trends.embed.renderExploreWidget("RELATED_TOPICS", { "comparisonItem": [{ "keyword": "연극", "geo": "KR", "time": "today 12-m" }], "category": 0, "property": "youtube" }, { "exploreQuery": "geo=KR&gprop=youtube&q=%EC%97%B0%EA%B7%B9&date=today 12-m", "guestPath": "https://trends.google.co.kr:443/trends/embed/" });</script>
                    </div>
                </div>

                <div class="row gx-5">
                    <a> 콘서트 </a>

                    <div>
                        <script type="text/javascript"
                            src="https://ssl.gstatic.com/trends_nrtr/2674_RC03/embed_loader.js"></script>
                        <script
                            type="text/javascript"> trends.embed.renderExploreWidget("RELATED_QUERIES", { "comparisonItem": [{ "keyword": "콘서트", "geo": "KR", "time": "today 12-m" }], "category": 0, "property": "youtube" }, { "exploreQuery": "geo=KR&gprop=youtube&q=%EC%BD%98%EC%84%9C%ED%8A%B8&date=today 12-m", "guestPath": "https://trends.google.co.kr:443/trends/embed/" });</script>
                    </div>
                    <div>
                        <script type="text/javascript"
                            src="https://ssl.gstatic.com/trends_nrtr/2674_RC03/embed_loader.js"></script>
                        <script
                            type="text/javascript"> trends.embed.renderExploreWidget("RELATED_TOPICS", { "comparisonItem": [{ "keyword": "콘서트", "geo": "KR", "time": "today 12-m" }], "category": 0, "property": "youtube" }, { "exploreQuery": "geo=KR&gprop=youtube&q=%EC%BD%98%EC%84%9C%ED%8A%B8&date=today 12-m", "guestPath": "https://trends.google.co.kr:443/trends/embed/" });</script>
                    </div>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-5">
                            <p class="lead fw-normal text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing
                                elit. Totam deserunt architecto enim eos accusantium fugit recusandae illo iste
                                dignissimos possimus facere ducimus odit voluptatibus exercitationem, ex laudantium
                                illum voluptatum corporis.</p>
                            <a class="text-decoration-none" href="#!">
                                View project
                                <i class="bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; TwoRolless 2021 </div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>